
.button_1{
  height:38px;
  background: linear-gradient(#31E3A8,#10586E);
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  margin: 0 20px 0 20px;
}
/*#border{*/
/*  margin-top: 15px;*/
/*  padding-bottom:5px;*/
/*  background:linear-gradient(to left,#10586E,#31E3A8,#10586E,#31E3A8,#10586E,#31E3A8,#10586E,#31E3A8,#10586E);*/
/*  position: fixed;*/
/*  width: 100%;*/
/*}*/

/*Showcase css beings here*/
#showcase{
  min-height: 400px;
  width: 100%;
  background: url("../img/showcase.jpg") no-repeat 0 0px;
  background-size: 100%;
  text-align: center;
  color: white;
}
#showcase h1{
  padding-top: 50px;
  font-size: 45px;
}
#showcase p{
  font-size: 20px;
}
#showcase p,h1{
  color: white;
}
/*Showcase css ends here */

/* Boxes css begins here*/
#boxes{
  margin-top:20px;
}
a{
  cursor: pointer;
}
#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
#boxes .box h3,p{
  color: black;
}

#boxes .box img{
  width:90px;
}
/*Boxes css ends here*/

#reg_btn{
  border-radius: 15%;
  text-align: center;
  font-size: 12px;
  border: 2px solid #10586E;
  background: linear-gradient(to top right, #10586E 35%, #31E3A8);
  margin-top: -8%;
}